<h1>Edit Transaction</h1>

<pre>
    <%= JSON.stringify(transaction, null, 5) %>
</pre>

<form method="POST" action="/transactions/edit/<%= transaction._id %>">
    <input type="hidden" name="transactionId" value="<%= transaction._id %>">
    <div class="form-group">
        <label for="description">description</label>
        <input type="text" class="form-control" id="description" name="description"
            value="<%= transaction.description %>">
    </div>
    <div class="form-group">
        <label for="amount">amount</label>
        <input type="number" class="form-control" id="amount" name="amount" value="<%= transaction.amount %>">
    </div>
    <div class="form-group">
        <label for="category">category</label>
        <input type="text" class="form-control" id="category" name="category" value="<%= transaction.category %>">
    </div>
    <div class="form-group">
        <label for="date">date</label>
        <input type="date" class="form-control" id="date" name="date"
            value="<%= transaction.date.toISOString().split('T')[0] %>">
    </div>
    <button type="submit" class="btn btn-primary">Update Transaction</button>
    <a href="/transactions" class="btn btn-secondary">Cancel</a>
</form>