<h1> Transactions for <%= user.username %>
</h1>

<div class="row">
    <div class="col">
        <p> Here is your list of things to do! </p>
        <div class="btn-group">
            <a class="btn btn-lg btn-primary btn-sm">group by category </a>
            <a class="btn btn-lg btn-primary btn-sm">sort by category </a>
            <a class="btn btn-lg btn-primary btn-sm">sort by amount </a>
            <a class="btn btn-lg btn-primary btn-sm">sort by description </a>
            <a class="btn btn-lg btn-primary btn-sm">sort by date </a>
        </div>
        <table class="table table-striped table-hover mt-3">
            <thead>
                <tr>
                    <th scope="col" class="border-end">description</th>
                    <th scope="col" class="border-end">amount</th>
                    <th scope="col" class="border-end">category</th>
                    <th scope="col" class="border-end">date</th>
                    <th scope="col" class="border-end">delete</th>
                    <th scope="col" class="border-end">edit</th>
                </tr>
            </thead>
            <tbody>
                <% transactions.forEach(transaction=> { %>
                    <tr>
                        <td class="border-end">
                            <%= transaction.description %>
                        </td>
                        <td class="border-end">
                            <%= transaction.amount %>
                        </td>
                        <td class="border-end">
                            <%= transaction.category %>
                        </td>
                        <td class="border-end">
                            <%= new Date(transaction.date).toLocaleString('en-US', {weekday: 'short' , month: 'short' ,
                                day: '2-digit' , year: 'numeric' }) %>
                        </td>
                        <td class="border-end">
                            <a class="bi bi-trash" href="/transactions/delete/<%= transaction.id %>"></a>
                        </td>
                        <td class="border-end">
                            <a class="bi bi-pencil-square" href="/transactions/edit/<%= transaction.id %>"></a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

    </div>

</div>