<!-- transactionsList.ejs -->

<h1> Transactions for <%= user.username %>
</h1>

<div class="row">
    <div class="col">
        <p> Here is your list of things to do! </p>
        <div class="btn-group">
            <a class="btn btn-lg btn-primary btn-sm">group by category </a>
            <a class="btn btn-lg btn-primary btn-sm">sort by category </a>
            <a class="btn btn-lg btn-primary btn-sm">sort by amount </a>
            <a class="btn btn-lg btn-primary btn-sm">sort by description </a>
            <a class="btn btn-lg btn-primary btn-sm">sort by date </a>
        </div>
        <table class="table table-striped table-hover mt-3">
            <thead>
                <tr>
                    <th scope="col" class="border-end">description</th>
                    <th scope="col" class="border-end">amount</th>
                    <th scope="col" class="border-end">category</th>
                    <th scope="col" class="border-end">date</th>
                    <th scope="col" class="border-end">delete</th>
                    <th scope="col" class="border-end">edit</th>
                </tr>
            </thead>
            <tbody>
                <% transactions.forEach(transaction=> { %>
                    <tr>
                        <td class="border-end">
                            <li class="list-group-item">
                                <span class="mx-5">
                                  <%= transaction.description %>
                                </span>
                                <span class="badge rounded-pill bg-danger">
                                  <%= transaction.amount %>
                                </span>

                                  <i class="bi bi-pencil-square"></i>
                                </a>
                      
                              </li>
                            <!-- <form action="/transactions/edit/<%= transaction._id %>" method="POST">
                                <input type="text" name="description" value="<%= transaction.description %>">
                        </td>
                        <td class="border-end">
                            <input type="number" name="amount" value="<%= transaction.amount %>">
                        </td>
                        <td class="border-end">
                            <input type="text" name="category" value="<%= transaction.category %>">
                        </td>
                        <td class="border-end">
                            <input type="date" name="date" value="<%= transaction.date %>">
                        </td>
                        <td class="border-end">
                            <a class="bi bi-trash" href="/transactions/remove/<%= transaction._id %>"></a>
                        </td>
                        <td class="border-end">
                            <a href="/transactions/edit/<%=transaction._id %>">
                                <i class="bi bi-pencil-square"></i>
                              </a>
                            </form> -->
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</div>
<h1> Add a New Transaction </h1>
<!-- <form method="post" action="todo">
    new item: <input type="text" name="item">
    <br>
    priority: <select name="priority">
      <option>1 </option>
      <option>2 </option>
      <option>3 </option>
      <option>4 </option>
      <option>5 </option>
    </select>
    <br>
    <input type="submit" value="store">
  </form> -->
<form action="transactions" method="POST">
    <input type="text" id="description" name="description" placeholder="description" required>
    <br>
    <input type="text" id="category" name="category" placeholder="category" required>
    <br>
    <input type="number" id="amount" name="amount" placeholder="amount" required>
    <br>
    <input type="date" id="date" name="date" placeholder="date" required>
    <br>
    <button type="submit">store</button>
</form>